:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 10px);
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr)); 
    margin: 70px;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px 50px;

}

.grid-item {
    padding: 5px;
    border: 1px solid #ddd;
    width: 15px;
    height: 15px; 
}